
.contact {

    display: flex;
    justify-content: center;
    padding-top: 300px;
    padding-bottom: 100px;

    form {
        padding: 7vw;
        background-color: $black-green;
    }

    input, textarea {
        width: 70vw;
        font-family: 'Source Code Pro', monospace;
        margin-bottom: 2vh;
        border: none;
    }
}

.contact-page {
        background-image: radial-gradient(#D0DEB8 10%, transparent 20%), radial-gradient(#F8F8D6 10%, transparent 20%);
        background-color: #FFB884;
        background-position: 0 0, 50px 50px;
        background-size: 100px 100px;
}
.light-green {
    background-color: $light-green;
}

.submit-button {
    background-color: $light-yellow;
    border-radius: 30px;
    border: none;
    padding: 10px;
    font-family: 'Source Code Pro', monospace;
}

// ------------- contact page ----------

.contact-alone {
    height: 95vh;
    padding: 0;
    align-items: center;
    
    .form-alone {
        box-sizing: content-box;
    }
}